name: test

on: [push]

jobs:
  build:
    name: PHP ${{ matrix.php }}

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        php: [ 7.1, 7.2, 7.3 ]
        os: [ ubuntu-latest ]

    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Setup PHP
      uses: shivammathur/setup-php@master
      with:
        php-version: ${{ matrix.php }}

    - uses: php-actions/composer@master

    - name: PHP spec
      uses: php-actions/phpspec@master
      with:
        config: phpspec.yml
